<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('Magento\Customer\Model\Session');
if($customerSession->isLoggedIn()):
    ?>
    <h1 class="page-title">
<!--        <span class="base" data-ui-id="page-title-wrapper">--><?php //echo($customerSession->getCustomer()->getName()); ?><!--</span>-->
        <span class="base" data-ui-id="page-title-wrapper">My Dashboard</span>
    </h1>
<?php endif; ?>


