@white: #fff;

& when (@media-common = true) {
    .new-page-container {
        background: yellow;
    }

    .alex-wrap {
        .container {
            max-width: 1200px;
            margin: 0 auto;
        }
    }

    .image-bg {
        padding-top: 5%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .slider-wrap {
        .item {
            position: relative;
            min-height: 300px;
            padding-top: 20%;
        }
    }
}
