@color-account-line: #dfdfdf;
@color-account-title: #26455E;
@color-account-gold: #EFDDCC;
@color-account-red: #D22630;


.customer-account-index {
    .page-title {
        .lib-font-size(60);
        color: @color-account-title;
        text-transform: none;
    }
}

.account {
    font-family: @font-family__secondary-medium;

    .block-collapsible-nav-content {
        //font-family: @font-family__secondary-medium;
        font-family: @font-family-name__base__medium;

        .account-nav-title {
            margin-left: 15px;
            .lib-font-size(20);
            font-family: @font-family__secondary-medium;
            color: @color-account-red;
            text-transform: none;
        }

        .item {
            .lib-font-size(20);

            a {
                color: @color-account-title;
            }

            .delimiter {
                border-color: @color-white;
            }
        }

        .item.current {
            strong {
                color: @color-account-title;
            }
        }
    }

    .main {
        .block {
            margin-bottom: 200px;
            color: @color-account-title;

            .block-content {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-prefix-flex-wrap(wrap);
                .lib-css(justify-content, space-between, 1);

                .box {
                    width: 50%;

                    .box-title {
                        margin-bottom: 40px;
                        line-height: 40px;
                        .lib-font-size(36);
                        text-transform: uppercase;
                    }
                }
            }

            .box-actions {
                margin-top: 30px;
                a {
                    &:before {
                        content: '|';
                        color: @color-account-line;
                    }

                    &:first-child {
                        &:before {
                            .lib-vendor-prefix-display(none);
                        }
                    }
                }
            }

            .block-title {
                .lib-vendor-prefix-display(flex);
                .lib-vendor-box-align(center);
                margin-bottom: 70px;
                border-bottom: 1px solid @color-account-gold;
                .lib-font-size(45);

                .edit {
                    margin-left: 10px;
                    .lib-font-size(24);
                    color: @color-account-red;
                    text-transform: uppercase;
                }
            }

        }
    }
    .block-collapsible-nav {
        .nav.item {
            position: relative;
            list-style-type: none;

            a {
                &:before {
                    content: '';
                    position: absolute;
                    top: 16px;
                    left: 5px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: @color-blue-dodger;
                }
            }
        }
    }
}
