<div class="new-page-block alex-wrap">
    <div class="container">
        <?php include ($block->getTemplateFile('Magento_Catalog::produc-subtitle.phtml')) ?>
        <?php echo $this->getLayout()->createBlock("Magento\Framework\View\Element\Template")->setTemplate("Magento_Theme::footer-extend.phtml")->toHtml();?>
        <h3>New Page Block</h3>
        <div class="slider-wrap" data-mage-init='{"Magento_Cms/js/carousel-block":{}}'>
            <h4>1-st slider</h4>
            <div class="slider-images owl-carousel">
                <div class="item image-bg">
                    <img src="<?php echo $this->getViewFileUrl('images/image-1.png');?>" alt="test" />
                </div>
                <div class="item image-bg">
                    <img src="<?php echo $this->getViewFileUrl('images/image-2.png');?>" alt="test" />
                </div>
                <div class="item image-bg">
                    <img src="<?php echo $this->getViewFileUrl('images/image-3.png');?>" alt="test" />
                </div>
                <div class="item image-bg">
                    <img src="<?php echo $this->getViewFileUrl('images/image-4.png');?>" alt="test" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
     {
         ".new-page-block": {
             "Magento_Cms/js/script-block": {}
         }
     }
</script>
